@import "../sass-variables/_variables.scss";
@import "../sass-variables/_placeholders.scss";
.tableMoney {
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  width: 45%;
  border: 1px solid #6b6b6b;
  min-height: 300px;
  overflow-y: scroll;
  padding: 5px;
  & > tr {
    display: flex;
    flex-flow: row wrap;
    gap: 12px;
    button{
      border: 0;
      ion-icon{
        height: 100%;
        color: $budget-egress-color;
        font-size: 1.5em;
        cursor: pointer;
        transition: .5s;

        &:hover{
          transform: scale(1.5);
        }
      }
    }
    & > .ingress-text {
      color: $budget-ingress-color;
    }
    & > .egress-text {
      color: $budget-egress-color;
    }
    & > .title-table {
      @extend %text-overview-settings;
      font-size: 1.5em;
    }
    td {
      @extend %text-overview-settings;
      font-size: 1.2em;
    }
    .egress-percentage {
      border-radius: 5px;
      background-color: $budget-egress-color;
    }
  }
}

.ingress-table {
  border: 1px solid $budget-ingress-color;
  border-radius:15px;
}
.egress-table {
  border: 1px solid $budget-egress-color;
  border-radius:15px;
}

// @media only screen and (max-width: 500px) {
//   .tableMoney {
//     display
//     width: 100%;
//   }
// }

@media only screen and (max-width: 680px){
  .tableMoney{
    width: 80%;
    &>tr{
      justify-content: space-between;
      &>td{
        font-size: 1em;
      }
    }
  }
}