<table class="tableMoney ingress-table">
  <tr>
    <th class="title-table ingress-text">Ingreso</th>
  </tr>
  @for (entrada of entriesList; track entrada; let i = $index){
    @if(entrada.isIncome){
        <tr>
            <td class="ingress-text">{{entrada.reason}}</td>
            <td class="ingress-text">{{entrada.money | currency: 'USD'}}$</td>
            <button (click)="deleteRegistry(entrada)"><ion-icon name="close-circle-outline"></ion-icon></button>
        </tr>
    }
  }
</table>
<table class="tableMoney egress-table">
    <tr>
        <th class="title-table egress-text">Egreso</th>
    </tr>
    @for (entrada of entriesList; track entrada; let i = $index){
        @if(!entrada.isIncome){
            <tr>
                <td class="egress-text">{{entrada.reason}}</td>
                <td class="egress-text">-{{entrada.money | currency: 'USD'}}$</td>
                @if (entrada.percentage != numInf){
                  <td class="egress-percentage">{{entrada.percentage | percent}}</td>
                }
                <button (click)="deleteRegistry(entrada)"><ion-icon name="close-circle-outline"></ion-icon></button>
            </tr>
        }
      }
</table>
