@import '../sass-variables/_variables.scss';
@import '../sass-variables/_placeholders.scss';
p{
    @extend %text-overview-settings;
}
.money-status-text{
    color: $budget-text-color;  
}
.budget-text{
    font-size: 5.9em; 
    transition: .5s;
}

.money-status{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    gap: 12px;
    height: $input-size-height;
    min-width: $budget-view-width;
    padding: 12px;
    color: $budget-text-color;
    p{
        font-size: 1.6em;
    }
}

.ingress {
    background-color: $budget-ingress-color;
}

.egress{
    background-color: $budget-egress-color;
}

.ingress-text{
    color: $budget-ingress-color;
}

.egress-text{
    color: $budget-egress-color;
}

@media only screen and (max-width: 500px) {
    .budget-text{
        font-size: 2em; 
        transition: .5s;
    }
    .money-status{
        min-width: 100%;
        p{
            font-size: 1em;
        }
    }    
}