$budget-color: #6b6b6b;
$budget-text-color: #f8f8f8;
$budget-ingress-color:#1CAAB5;
$budget-egress-color:#FF604A;
$universal-text-font: "Open Sans", sans-serif;
$budget-view-width: 250px;
$input-size-height: 70px;