//fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
    body{
        width: 100%;
    }
}

app-budget-view{
    background-image: url('../public/paintingBG.png');
    padding:{
        top: 50px;
    }
    display: flex;
    flex-flow: column wrap;
    gap: 12px;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 250px;
    padding: 12px;
}

app-budget-form{
    background-image: url('../public/anotherpaintBG.png');
    display: flex;
    flex-flow: row wrap;
    gap: 12px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

app-table-chart{
    display: flex;
    flex-flow: row nowrap;
    gap: 12px;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #221FCC;
    padding: {
        bottom: 10px;
    }
}

@media only screen and (max-width: 400px){
    app-budget-view{
        width: 100%;
        padding: 0;
    }
}

@media only screen and (max-width: 670px){
    app-table-chart {
        flex-flow: column wrap;
    }
}