<form action="">
  <select 
    name="select"
    [(ngModel)]="selectedOption"
    [ngClass]="selectedOption === '1' ? 'ingress' : 'egress'">
    @for(option of options; track option; let i = $index){
        <option [value]="option.value">{{option.name}}</option> 
    }
  </select>
  <input
    [ngClass]="selectedOption === '1' ? 'ingress' : 'egress'"
    type="text"
    name="reason"
    id="reason"
    placeholder="Razón"
    [(ngModel)]="reasonInput"
  />
  <input
    [ngClass]="selectedOption === '1' ? 'ingress' : 'egress'"
    type="number"
    name="money"
    id="money"
    placeholder="Dinero"
    [(ngModel)]="moneyInput"
  />
  <button 
   [ngClass]="selectedOption === '1' ? 'ingress' : 'egress'"
   type="submit" (click)="sendForm()">Agregar</button>
</form>
